#### Mortality data processing

In [8]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
mortality = pd.read_excel('/home/h6x/git_projects/ornl-svi-data-processing/raw_data/HepVu_County_Opioid_Indicators_05DEC22.xlsx')

In [10]:
mortality.head()

,GEO ID,State Abbreviation,County Name,Opioid Prescription Rate 2020,Narcotic Overdose Mortality Rate 2014,Narcotic Overdose Mortality Rate 2015,Narcotic Overdose Mortality Rate 2016,Narcotic Overdose Mortality Rate 2017,Narcotic Overdose Mortality Rate 2018,Narcotic Overdose Mortality Rate 2019,Narcotic Overdose Mortality Rate 2020
0,1001,AL,Autauga County,98.3,8.2,8.8,10.7,9.8,10.9,9.2,11.6
1,1003,AL,Baldwin County,65.0,18.0,20.0,16.6,15.1,14.9,14.5,27.4
2,1005,AL,Barbour County,22.8,4.4,4.5,5.7,5.8,5.2,5.7,7.6
3,1007,AL,Bibb County,24.8,17.2,16.6,22.6,21.7,23.1,19.4,27.3
4,1009,AL,Blount County,22.8,18.6,18.9,22.7,27.0,19.9,20.3,24.2

In [11]:
# make GEOID a string
mortality['GEO_ID'] = mortality['GEO ID'].astype(str)

In [12]:
# drop GEO ID
mortality = mortality.drop(columns=['GEO ID'])

In [13]:
# if GEOID is less than 5 characters, add a 0 to the front
mortality['GEO_ID'] = mortality['GEO_ID'].apply(lambda x: x.zfill(5))

In [14]:
mortality.head()

,State Abbreviation,County Name,Opioid Prescription Rate 2020,Narcotic Overdose Mortality Rate 2014,Narcotic Overdose Mortality Rate 2015,Narcotic Overdose Mortality Rate 2016,Narcotic Overdose Mortality Rate 2017,Narcotic Overdose Mortality Rate 2018,Narcotic Overdose Mortality Rate 2019,Narcotic Overdose Mortality Rate 2020,GEO_ID
0,AL,Autauga County,98.3,8.2,8.8,10.7,9.8,10.9,9.2,11.6,01001
1,AL,Baldwin County,65.0,18.0,20.0,16.6,15.1,14.9,14.5,27.4,01003
2,AL,Barbour County,22.8,4.4,4.5,5.7,5.8,5.2,5.7,7.6,01005
3,AL,Bibb County,24.8,17.2,16.6,22.6,21.7,23.1,19.4,27.3,01007
4,AL,Blount County,22.8,18.6,18.9,22.7,27.0,19.9,20.3,24.2,01009

In [15]:
# rename columns
mortality = mortality.rename(columns={'GEO_ID':'GEOID',
                                      'State Abbreviation':'ST_ABB',
                                      'Opioid Prescription Rate 2020':'PRIS_20',
                                      'Narcotic Overdose Mortality Rate 2014':'MOR_14',
                                      'Narcotic Overdose Mortality Rate 2015':'MOR_15',
                                      'Narcotic Overdose Mortality Rate 2016':'MOR_16',
                                      'Narcotic Overdose Mortality Rate 2017':'MOR_17',
                                      'Narcotic Overdose Mortality Rate 2018':'MOR_18',
                                      'Narcotic Overdose Mortality Rate 2019':'MOR_19',
                                      'Narcotic Overdose Mortality Rate 2020':'MOR_20'
                                      })

In [16]:
mortality = mortality.drop(columns=['County Name'])

In [17]:
mortality.head()

,ST_ABB,PRIS_20,MOR_14,MOR_15,MOR_16,MOR_17,MOR_18,MOR_19,MOR_20,GEOID
0,AL,98.3,8.2,8.8,10.7,9.8,10.9,9.2,11.6,01001
1,AL,65.0,18.0,20.0,16.6,15.1,14.9,14.5,27.4,01003
2,AL,22.8,4.4,4.5,5.7,5.8,5.2,5.7,7.6,01005
3,AL,24.8,17.2,16.6,22.6,21.7,23.1,19.4,27.3,01007
4,AL,22.8,18.6,18.9,22.7,27.0,19.9,20.3,24.2,01009

In [18]:
# make PRIS_20 min max scale
mortality['PRIS_20'] = (mortality['PRIS_20'] - mortality['PRIS_20'].min()) / (mortality['PRIS_20'].max() - mortality['PRIS_20'].min()) * 100
mortality['MOR_14'] = (mortality['MOR_14'] - mortality['MOR_14'].min()) / (mortality['MOR_14'].max() - mortality['MOR_14'].min()) * 100
mortality['MOR_15'] = (mortality['MOR_15'] - mortality['MOR_15'].min()) / (mortality['MOR_15'].max() - mortality['MOR_15'].min()) * 100
mortality['MOR_16'] = (mortality['MOR_16'] - mortality['MOR_16'].min()) / (mortality['MOR_16'].max() - mortality['MOR_16'].min()) * 100
mortality['MOR_17'] = (mortality['MOR_17'] - mortality['MOR_17'].min()) / (mortality['MOR_17'].max() - mortality['MOR_17'].min()) * 100
mortality['MOR_18'] = (mortality['MOR_18'] - mortality['MOR_18'].min()) / (mortality['MOR_18'].max() - mortality['MOR_18'].min()) * 100
mortality['MOR_19'] = (mortality['MOR_19'] - mortality['MOR_19'].min()) / (mortality['MOR_19'].max() - mortality['MOR_19'].min()) * 100
mortality['MOR_20'] = (mortality['MOR_20'] - mortality['MOR_20'].min()) / (mortality['MOR_20'].max() - mortality['MOR_20'].min()) * 100

In [19]:
mortality.head()

,ST_ABB,PRIS_20,MOR_14,MOR_15,MOR_16,MOR_17,MOR_18,MOR_19,MOR_20,GEOID
0,AL,25.811884,17.750258,14.483320,18.978805,12.491694,16.126418,14.410135,12.700370,01001
1,AL,17.801299,27.863777,23.596420,24.662813,16.013289,19.367909,18.606492,22.441430,01003
2,AL,7.649747,13.828689,10.984540,14.161850,9.833887,11.507293,11.638955,10.234279,01005
3,AL,8.130864,27.038184,20.829943,30.443160,20.398671,26.012966,22.486144,22.379778,01007
4,AL,7.649747,28.482972,22.701383,30.539499,23.920266,23.419773,23.198733,20.468557,01009

In [20]:
# rename column STCNTY
mortality = mortality.rename(columns={'GEOID':'STCNTY'})

In [21]:
mortality.head()

,ST_ABB,PRIS_20,MOR_14,MOR_15,MOR_16,MOR_17,MOR_18,MOR_19,MOR_20,STCNTY
0,AL,25.811884,17.750258,14.483320,18.978805,12.491694,16.126418,14.410135,12.700370,01001
1,AL,17.801299,27.863777,23.596420,24.662813,16.013289,19.367909,18.606492,22.441430,01003
2,AL,7.649747,13.828689,10.984540,14.161850,9.833887,11.507293,11.638955,10.234279,01005
3,AL,8.130864,27.038184,20.829943,30.443160,20.398671,26.012966,22.486144,22.379778,01007
4,AL,7.649747,28.482972,22.701383,30.539499,23.920266,23.419773,23.198733,20.468557,01009

### add geometry column to mortality

In [1]:
import geopandas as gpd

In [2]:
svi = gpd.read_file('/home/h6x/git_projects/ornl-svi-data-processing/raw_data/svi/2018/SVI2018_US_county.gdb')

In [23]:
# filter svi to few columns
svi = svi[['FIPS','geometry']]

In [24]:
svi.head()

    FIPS                                           geometry
0  35039  MULTIPOLYGON (((-107.62554 36.56587, -107.6252...
1  01001  MULTIPOLYGON (((-86.92120 32.65754, -86.92035 ...
2  01009  MULTIPOLYGON (((-86.96336 33.85822, -86.95967 ...
3  01013  MULTIPOLYGON (((-86.90894 31.96167, -86.87498 ...
4  01015  MULTIPOLYGON (((-86.14622 33.70218, -86.14577 ...

In [25]:
svi.shape

(3142, 2)

In [26]:
mortality.shape

(3221, 10)

In [27]:
# add svi data to mortality data by joining on STCNTY and FIPS
mortality = mortality.merge(svi, left_on='STCNTY', right_on='FIPS', how='left')

In [28]:
mortality.head()

,ST_ABB,PRIS_20,MOR_14,MOR_15,MOR_16,MOR_17,MOR_18,MOR_19,MOR_20,STCNTY,FIPS,geometry
0,AL,25.811884,17.750258,14.483320,18.978805,12.491694,16.126418,14.410135,12.700370,01001,01001,"MULTIPOLYGON (((-86.92120 32.65754, -86.92035 ..."
1,AL,17.801299,27.863777,23.596420,24.662813,16.013289,19.367909,18.606492,22.441430,01003,01003,"MULTIPOLYGON (((-88.02858 30.22676, -88.02399 ..."
2,AL,7.649747,13.828689,10.984540,14.161850,9.833887,11.507293,11.638955,10.234279,01005,01005,"MULTIPOLYGON (((-85.74803 31.61918, -85.74543 ..."
3,AL,8.130864,27.038184,20.829943,30.443160,20.398671,26.012966,22.486144,22.379778,01007,01007,"MULTIPOLYGON (((-87.42194 33.00338, -87.31854 ..."
4,AL,7.649747,28.482972,22.701383,30.539499,23.920266,23.419773,23.198733,20.468557,01009,01009,"MULTIPOLYGON (((-86.96336 33.85822, -86.95967 ..."

In [29]:
mortality = mortality.drop(columns=['FIPS'])

In [34]:
mortality = gpd.GeoDataFrame(mortality, geometry='geometry')

In [35]:
# save to gdf ESRI
dir = '/home/h6x/git_projects/universal-experiment-lab/experiment_1/data/shape/'
output_path = dir + 'mortality.gdb'
mortality.to_file(output_path, driver='ESRI Shapefile')